<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>The Truth is out there.</h1>
  <h2>Instructions:</h2>
  <p>Make sure to download the jsonview Chrome extension</p>
  <p>Enter the query parameters into the address bar, by filtering by State, Shape, or City:</p>
  <ul>
    <li>localhost:3000/sightings?state=**STATE NAME GOES HERE(ex. MA)**</li>
    <li>localhost:3000/sightings?shape=**SHAPE NAME GOES HERE(ex. Fireball)**</li>
    <li>localhost:3000/sightings?state=**CITY NAME GOES HERE(ex. Vancouver)**</li>
  </ul>
</body>
</html>
